@import "../../styles/variables.scss";


.pk-layout {
  width: 100vw;
  height: 100vh;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &__navbar {
    width: 100%;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
    border-bottom: 1px solid $gray-900;
    align-items: flex-start;
  }

  &__app {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: auto 360px;
    gap: var(--padding);
    background-color: $gray-1000;
  }
}

@media (max-width: 768px) {
  .pk-layout__app {
    grid-template-columns: 1fr;
  }
}
